@{
    ViewBag.Title = "GameCatalog";
}

<h1 style ="text-align: center;">Game Catalog</h1>
<div>
    <div class="col-xs-3 imageSetting">
        <a href='@Url.Action("Dota2", "GameDirectory")'><img class="img-rounded img-responsive" src='@Url.Content("~/Images/dota2Click.jpg")' alt="Dota 2"></a>
    </div>

    <div class="col-xs-3 imageSetting">
        <a href='@Url.Action("GameCatalog", "Home")'><img class="img-rounded img-responsive" src='@Url.Content("~/Images/oriClick.jpg")' alt="Ori and the Blind Forest"></a>
    </div>

    <div class="col-xs-3 imageSetting">
        <a href='@Url.Action("GameCatalog", "Home")'><img class="img-rounded img-responsive" src='@Url.Content("~/Images/bloodOnClick.jpg")' alt="Bloodborne"></a>
    </div>

    <div class="col-xs-3 imageSetting">
        <a href='@Url.Action("GameCatalog", "Home")'><img class="img-rounded img-responsive" src='@Url.Content("~/Images/ff15Click.jpg")' alt="Final Fantasy 14"></a>
    </div>
</div>

<div>
    <div class="col-xs-3 imageSetting">
        <a href='@Url.Action("GameCatalog", "Home")'><img class="img-rounded img-responsive" src='@Url.Content("~/Images/ds2Click.jpg")' alt="Dark Souls II"></a>
    </div>

    <div class="col-xs-3 imageSetting">
        <a href='@Url.Action("GameCatalog", "Home")'><img class="img-rounded img-responsive" src='@Url.Content("~/Images/LolClick.jpg")' alt="League of Legends"></a>
    </div>

    <div class="col-xs-3 imageSetting">
        <a href='@Url.Action("GameCatalog", "Home")'><img class="img-rounded img-responsive" src='@Url.Content("~/Images/MKXClick.jpg")' alt="Mortal Kombat X"></a>
    </div>

    <div class="col-xs-3 imageSetting">
        <a href='@Url.Action("GameCatalog", "Home")'><img class="img-rounded img-responsive" src='@Url.Content("~/Images/lozmmClick.jpg")' alt="The Legend of Zelda: Majora's Mask 3D'"></a>
    </div>
</div>

@* testing <div>
    <div class="col-xs-3 catalogImage">
        <a href='@Url.Action("GameCatalog", "Home")'><img class="img-rounded img-responsive" src='@Url.Content("~/Images/kentest.jpg")' alt="The Legend of Zelda: Majora's oasis'"></a>
    </div>

    <div class="col-xs-3 catalogImage">
        <a href='@Url.Action("GameCatalog", "Home")'><img class="img-rounded img-responsive" src='@Url.Content("~/Images/ginkotest.jpg")' alt="The Legend of Zelda: Majora's dingo'"></a>
    </div>

    <div class="col-xs-3 catalogImage">
        <a href='@Url.Action("GameCatalog", "Home")'><img class="img-rounded img-responsive" src='@Url.Content("~/Images/knighttest.jpg")' alt="The Legend of Zelda: Majora's bingo'"></a>
    </div>

</div> *@

<div>
    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/197061892&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

    <object type="application/x-shockwave-flash" data="/dewplayer-rect.swf?mp3=mp3/Project 15 Black Bullet.mp3"
            width="240" height="20" id="dewplayer">
        <param name="wmode" value="transparent"/>
        <param name="movie" value="dewplayer-rect.swf?mp3=mp3/Project 15 Black Bullet.mp3"/>
    </object>

    <audio controls>
        <source src="mp3/Cherry Boy Rap Riot.ogg" type="audio/ogg"/>
        <source src="mp3/Cherry Boy Rap Riot.mp3" type="audio/mpeg"/>
        <a href="http://mfi.re/listen/6q7te4csl5xbl7z/Cherry_Boy_Rap_Riot.mp3">cheeryboy</a>
    </audio>
</div>
